<div class="container">
    <div class="row">
        <div class="col-md-12">
            <h2> Account Details</h2>
            <ul>
                <li><b>Username: </b>{{session.user.userName}} </li>
                <li><b>Email: </b> {{session.user.email}}</li>
            </ul>
            <h2>Login History</h2>
            <hr />

            <div class="table-responsive">
                <table class="table ">
                    <thead>
                        <tr>
                            <th>User Agent</th>
                            <th>Login Date/Time</th>
                        </tr>
                    </thead>
                    <tbody>

                        {{#each session.user.loginHistory}}
                        <tr>
                            <td>{{userAgent}}</td>
                            <td>{{dateTime}}</td>
                        </tr>
                        {{/each}}

                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>